/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fondo general */
body {
    background: #4ca1af;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    flex-direction: column;
    padding-top: 10px;
}

/* Contenedor principal centrado */
.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    width: 80%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Títulos */
h1 {
    margin: 30px 0;
    font-size: 28px;
    color: #ffffff;
}

h2 {
    margin: 20px 0 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* Formulario */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    width: 100%;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus, select:focus, textarea:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: 2px solid #4ca1af;
}

/* Estilos para las opciones del select */
select option {
    color: black;
}

/* Botón principal */
button {
    width: 200px;
    padding: 12px;
    background-color: #4ca1af;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #357f88;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Enviar Reporte a la izquierda, Volver a la derecha */
    gap: 15px;
    margin-top: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}